@* @model List<LibraryManagementSystem.DAL.Models.Author>

@{
    ViewData["Title"] = "Authors List";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Bio</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td>@author.Id</td>
                <td>@author.FullName</td>
                <td>@author.Bio</td>
                <td>
                    <a asp-action="Details" asp-route-id="@author.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@author.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@author.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table> *@
